<mat-list class="menu__list">
    <mat-list-item
        class="menu__list__item"
        (click)="onClose()"
        routerLink="/PS5">
        PlayStation 5
        <mat-icon>chevron_right</mat-icon>
    </mat-list-item>
    
    <mat-list-item
        class="menu__list__item"
        (click)="onClose()"
        routerLink="/PS4">
        PlayStation 4
        <mat-icon>chevron_right</mat-icon>
    </mat-list-item>
    
    <mat-list-item 
        class="menu__list__item"
        (click)="onClose()"
        routerLink="/Series X">
        Xbox Series X
        <mat-icon>chevron_right</mat-icon>
    </mat-list-item>
    
    <mat-list-item 
        class="menu__list__item"
        (click)="onClose()"
        routerLink="/XB1">
        Xbox One
        <mat-icon>chevron_right</mat-icon>
    </mat-list-item>
</mat-list>