<div 
    class="cart-item"
    [ngClass.lt-md]="'cart-item-small'">
    <div 
        class="cart-item__game" 
        [ngClass.lt-md]="'cart-item__game-small'">
        <img [src]="game.game.background_image" alt="">
        <div 
            class="cart-item__description" 
            [ngClass.lt-md]="'cart-item__description-small'">
            <h4>{{ game.game.name }} - {{ game.platform }}</h4>
            <h5>Platform: {{ game.game.name }}</h5>
            <h5>Developer: {{ game.game.developers[0].name }}</h5>
        </div>
    </div>
    
    <div 
        class="cart-item__price" 
        [ngClass.lt-md]="'cart-item__price-small'">
        <h4
            class="cart-item__price__text"
            [ngClass.lt-md]="'cart-item__price__text-small'">
            {{ price | currency }}</h4>
        <button (click)="onRemove()">Remove</button>
    </div>
    
</div>