<div class="orders">
    <div *ngIf="cart.length === 0">
        Your cart is currently empty
    </div>

    <div 
        fxLayoutGap="10px"
        *ngIf="cart.length > 0">
        <app-sidecart-order
            *ngFor="let game of cart; let i = index"
            [game]="game"
            (remove)="onRemove(i)"></app-sidecart-order>

        <div class="orders__total">
            <h3>Total: {{ getTotal() }}</h3>
            <div class="btn-container">
                <button (click)="onCheckout()">Checkout</button>
            </div>
        </div>
    </div>
</div>