<div 
    class="cart"
    [ngClass.lt-sm]="'cart-small'">
    <div class="cart__header">
        <div 
            class="cart__header__text"
            [ngClass.lt-sm]="'cart__header__text-small'">
            <mat-icon>home</mat-icon>
            <h4>Ship to Home: {{ games.length }} 
                <span *ngIf="games.length === 1">Item</span>
                <span *ngIf="games.length > 1">Items</span>
            </h4>
        </div>
    </div>

    <h4 *ngIf="games.length === 0">Your cart is currently empty</h4>

    <app-cart-item 
        *ngFor="let game of games; let i = index"
        [game]="game"
        [price]="price"
        (remove)="onRemove(i)">
    </app-cart-item>

    <div 
        *ngIf="games.length > 0"
        class="cart__button">
        <h3>Total: {{ price * games.length }}</h3>
        <button (click)="onCheckout()">Proceed to Checkout</button>
    </div>
</div>