<form 
    class="form-info"
    [formGroup]="checkoutForm" 
    (ngSubmit)="onCompleteOrder()">

    <div 
        class="form-info__name" 
        [ngClass.lt-sm]="'small-input-group'">
        <app-input
            label="First Name" 
            [control]="checkoutForm.get('firstName')"></app-input>
        
        <app-input
            label="Last Name" 
            [control]="checkoutForm.get('lastName')"></app-input>
    </div>

    <div class="form-info__street">
        <app-input
            label="Street Address"
            [control]="checkoutForm.get('streetAddr')"></app-input>
    </div>

    <div 
        class="form-info__zip"
        [ngClass.lt-sm]="'small-input-group'">
        <app-input
            class="form-info__zip__input-zip"
            label="Zip Code" 
            [control]="checkoutForm.get('zip')"></app-input>

        <app-input 
            class="form-info__zip__input-city"
            label="City" 
            [control]="checkoutForm.get('city')"></app-input>
        
        <div 
            class="form-info__zip__input-state"
            [ngClass.lt-sm]="'small-input'">
            <h5>State</h5>
            <select formControlName="state">
                <option *ngFor="let state of states" [ngValue]="state">
                    {{ state }}
                </option>
            </select>
        </div>
    </div>

    <div 
        class="form-info__email" 
        [ngClass.lt-sm]="'small-input-group'">
        <app-input 
            label="Email" 
            [control]="checkoutForm.get('email')"></app-input>

        <app-input 
            label="Phone Number" 
            [control]="checkoutForm.get('phone')"></app-input>
    </div>

    <div class="form-info__button">
        <button [disabled]="!checkoutForm.valid" type="submit">Complete Order</button>
    </div>
</form>