<form 
    class="search"
    [formGroup]="searchForm">
    <mat-icon class="search__icon">search</mat-icon>
    <input 
        class="search__input"
        type="text"
        placeholder="Search games..."
        formControlName="searchGame"
        [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option 
            *ngFor="let game of gameResults"
            [value]="game.name"
            (click)="onSubmit(game)">
            <div class="search__options">
                <img [src]="game.background_image" [alt]="game.name">
                <div class="search__options__name">{{ game.name }}</div>
            </div> 
        </mat-option>
    </mat-autocomplete>
</form>