<mat-toolbar 
    class="toolbar"
    [ngClass.lt-sm]="'small'">

    <button class="toolbar__menu-button" (click)="onOpen()">
        <mat-icon class="toolbar__menu-button__icon">menu</mat-icon>
        <span>Shop</span>
    </button>
    <div 
        class="toolbar__logo"
        routerLink="/"
        [ngClass.lt-md]="'small-logo'">
        <h1 
            class="toolbar__logo__title"
            [ngClass.lt-md]="'small-text'">Game<span class="toolbar__logo__title--red" [ngClass.lt-md]="'small-text'">Stoop</span></h1>
        <mat-icon class="toolbar__logo__icon">house</mat-icon>
    </div>

    <div 
        class="toolbar__search"
        [ngClass.lt-sm]="'small-search'">
        
        <app-search-bar 
            class="toolbar__search-bar">
        </app-search-bar>
        
    </div>

    <div [ngClass.lt-sm]="'small-icon'" class="toolbar__icons">
        <mat-icon 
            (click)="onOpenCart()" 
            [ngClass.lt-sm]="'small-icon__cart'" 
            class="toolbar__icons__cart">
            <span 
                [matBadge]="cartLength > 0 ? cartLength.toString() : ''" 
                matBadgeOverlap="true">
                shopping_cart
            </span>
        </mat-icon>
    </div>

</mat-toolbar>