<mat-toolbar class="toolbar">
    <button class="toolbar__menu-button">
        <mat-icon class="toolbar__menu-button__icon">menu</mat-icon>
        <span>Shop</span>
    </button>
    <div class="toolbar__logo">
        <h1 class="toolbar__logo__title">Game<span class="toolbar__logo__title--red">Stoop</span></h1>
        <mat-icon class="toolbar__logo__icon">house</mat-icon>
    </div>

    <div class="toolbar__search">
        <button class="toolbar__search__icon">
            <mat-icon>search</mat-icon>
        </button>
        <input 
            class="toolbar__search__input"
            type="text"
            placeholder="Search games, consoles and more">
    </div>
    
</mat-toolbar>