<div class="menu" [ngClass.lt-sm]="'small'">
    <div class="menu__close">
        <h5>{{ topHeader }}</h5>
        <mat-icon class="menu__close__icon" (click)="onClose()">close</mat-icon>
    </div>

    <h2 class="menu__header" [ngClass.lt-sm]="'small__header'">{{ bigHeader }}</h2>
    

    <app-sidenav-shop 
        *ngIf="topHeader === 'Shop'" 
        (close)="onClose()">
    </app-sidenav-shop>

    <app-sidenav-cart 
        *ngIf="topHeader === 'Cart'"
        (close)="onClose()">
    </app-sidenav-cart>
</div>