mat-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep {
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #ff1900;
    }
}

.container {
    border: solid 0px red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    &-small {
        flex-direction: column;
        align-items: center;
    }

    &--game {
        border: solid 0px red;
        min-width: 227px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;

        & img {
            width: 100%;
            max-width: 400px;
        }

        &-small {
            margin-right: 0;
        }
    
        &__description {
            border: solid 0px red;

            & .genres {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }
    
    &--details {
        border: solid 0px red;
        width: 100%;
        min-width: 318px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 16px;

        &__title {
            text-align: center;
        }

        &-small {
            text-align: center;
            min-width: 275px;
            margin: 5px;
        }

        &__title h2, h5 {
            margin: 5px 0;
        }

        &__btn--cart {
            display: flex;
            justify-content: center;

            & button {
                cursor: pointer;
                color: #fff;
                font-weight: 600;
                background-color: #ff1900;
                border: none;
                padding: 10px;
                width: 50%;
    
                &:hover {
                    background-color: #c01300;
                    transition: .3s;
                }
            }
        }
    }
}

.small-title {
    font-size: 1.3rem;
}

.small-button {
    margin-top: 10px;
}

.new {
    margin: 30px 0 50px 0;

    &__header {
        text-align: center;
        margin: 0;
    }
    
}
