<mat-spinner 
    *ngIf="isLoading"
    [strokeWidth]="2" 
    [diameter]="80"></mat-spinner>

<div 
    *ngIf="!isLoading"
    class="container"
    [ngClass.lt-sm]="'container-small'">
    <div 
        class="container--game"
        [ngClass.lt-sm]="'container--game-small'">
        <div class="container--game__image">
            <img [src]="game.background_image" alt="">
        </div>
        <div fxHide.lt-sm class="container--game__description">
            <div class="genres">
                <h3>Product Description:</h3>
                <p *ngFor="let genre of game.genres">{{ genre.name }}</p>
            </div>
        </div>
    </div>

    <div 
        class="container--details"
        [ngClass.lt-sm]="'container--details-small'">
        <div class="container--details__title">
            <h2 [ngClass.lt-sm]="'small-title'">{{ game.name }} - {{ game.name }}</h2>
            <h5>{{ game.developers[0].name }}</h5>
            <h5>Playscore: {{ game.rating }}</h5>
            <h2 [ngClass.lt-sm]="'small-title'">$59.99</h2>
        </div>
        <div 
            class="container--details__btn--cart" 
            [ngClass.lt-sm]="'small-button'">
            <button (click)="onAddToCart()">Add to Cart</button>
        </div>
    </div>
</div>

<div *ngIf="!isLoading" class="new">
    <h3 class="new__header">What's New</h3>
    <app-carousel></app-carousel>
</div>
