<div 
    class="featured"
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    fxLayoutAlign.sm="space-around"
    fxLayoutAlign.xs="center">
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
</div>


<!-- <div 
    class="featured"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="16px">
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>

    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card>
    <app-featured-card></app-featured-card> -->


    <!-- <div>
        <app-featured-card></app-featured-card>
    </div>
    <div>
        <app-featured-card></app-featured-card>
    </div>
    <div>
        <app-featured-card></app-featured-card>
    </div>
    <div>
        <app-featured-card></app-featured-card>
    </div>

    <div>
        <app-featured-card></app-featured-card>
    </div>
    <div>
        <app-featured-card></app-featured-card>
    </div>
    <div>
        <app-featured-card></app-featured-card>
    </div>
    <div>
        <app-featured-card></app-featured-card>
    </div> -->
<!-- </div> -->

<!-- <mat-grid-list  
    cols="4"
    rowHeight="450"
    gutterSize="24px"
    [style.background]="'f2f2f2'"
    class="featured">
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>

    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
    <mat-grid-tile class="featured__card">
        <app-featured-card></app-featured-card>
    </mat-grid-tile>
</mat-grid-list> -->

<!-- 150 x 188 -->
