<mat-spinner 
    *ngIf="isLoading"
    [strokeWidth]="2" 
    [diameter]="80"></mat-spinner>

<div *ngIf="!isLoading" class="main-container">
    <h2>Playstation 5</h2>
    <hr>
    <app-featured-list 
        [games]="ps5"
        (gameSelect)="onGameSelect('PS5', $event)"></app-featured-list>
    
    <!-- <h2>Playstation 4</h2>
    <hr>
    <app-featured-list 
        [games]="ps4"
        (gameSelect)="onGameSelect('PS4', $event)"></app-featured-list>
    
    
    <h2>Xbox Series X</h2>
    <hr>
    <app-featured-list 
        [games]="xboxSX"
        (gameSelect)="onGameSelect('Series X', $event)"></app-featured-list>
    
    
    <h2>Xbox One</h2>
    <hr>
    <app-featured-list 
        [games]="xboxOne"
        (gameSelect)="onGameSelect('XB1', $event)"></app-featured-list> -->
</div>
